$color-light: #e0e2db;
$color-dark: #191716;
$color-green: #7c9e57;
$color-red: #e05263;
$color-yellow: #f9db6d;
$color-blue: #31afd4;

$font-text: 'Arial', sans-serif;
$font-head: 'Now' sans-serif;

$base-size: 12px;
$transition: all 0.5s;